<?xml version="1.0" encoding="UTF-8"?>
<!-- 设置parallel=methods多线程执行method 设置执行线程数量-->
<suite name="Suite" parallel="methods" thread-count="3">

    <!--<test name="testReport">-->
        <!--<classes>-->
            <!--&lt;!&ndash; 调用@Test执行类 &ndash;&gt;-->
            <!--<class name="com.muda.controller.platform.job.PlatformJobController"/>-->
            <!--<methods>-->
                <!--<include name="runnerF1"></include>-->
                <!--<include name="runnerF2"></include>-->
                <!--<include name="runnerT1"></include>-->
                <!--<include name="runnerT2"></include>-->
            <!--</methods>-->
        <!--</classes>-->
    <!--</test>-->

    <test name="testAsync">
        <classes>
            <!-- 调用@Test执行类 -->
            <class name="com.muda.controller.platform.job.PlatformJobController"/>
            <methods>
                <include name="testMethod"></include>
            </methods>
        </classes>
    </test>
    <listeners>
        <listener class-name="com.muda.utils.listenter.RetryListener"></listener>
        <listener class-name="com.muda.utils.listenter.TestngListener"></listener>
        <listener class-name="com.muda.utils.listenter.ExtentTestNGIReporterListener"></listener>
        <listener class-name="com.muda.utils.listenter.ExtentTestNGIPreporterListenerNew"></listener>
    </listeners>
</suite>
